/* outfit-600 - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/outfit-v6-latin/outfit-v6-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/outfit-v6-latin/outfit-v6-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/outfit-v6-latin/outfit-v6-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/outfit-v6-latin/outfit-v6-latin-600.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/outfit-v6-latin/outfit-v6-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/outfit-v6-latin/outfit-v6-latin-600.svg#Outfit")
      format("svg"); /* Legacy iOS */
}

h1 {
  color: #e8bd30;
  font-family: "Outfit";
}
